@import "bootstrap-sprockets";
@import "bootstrap";
@import "tabs";
@import "simulator";

.editor {
  height: 30em;
}

.diagram {
	width: 100%;
	display: none;
}

.diagram-hover:hover img {
	display: block;
}