---
title: Welcome to Middleman
---

<% content_for :assets do %>
  <%= javascript_include_tag "https://github.com/pegjs/pegjs/releases/download/v0.10.0/peg-0.10.0.min.js" %>
<% end %>

<div id="editor">LOOP: LW R2, 0(R1)
LW R3, 8(R1)
ADD R4, R2, R3
SW R4, 0(R1)
BEQZ R4, LOOP</div>

<input id="parse_button" type="button" onclick="callParser()" value="Parse"/>

<textarea id="parse_result_area"></textarea>
