---
title: Welcome to Middleman
---

<% content_for :assets do %>
  <%= javascript_include_tag "https://github.com/pegjs/pegjs/releases/download/v0.10.0/peg-0.10.0.min.js" %>
<% end %>

<div id="editor">ADDI R1, R1, 3
ADDI R2, R2, 4
ADD R3, R1, R2
SW R3, 0(R0)</div>

<input id="parse_button" type="button" onclick="callParser()" value="Parse"/>
<input id="next_cycle_button" type="button" onclick="callNextClockCycle()" value="Next cycle"/>

<textarea id="parse_result_area"></textarea>
